[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
wxc-sdk = "*"
flask = "*"
authlib = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "3.11"
