{% extends "base_no_body.html" %}


{% block body_outer %}
    <body id="page-top">
    {% block body %}

        <!-- Page Wrapper -->
        <div id="wrapper">

            {% include "sidebar.html" %}

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    {% block topbar %}
                        {% include "topbar.html" %}
                    {% endblock %}

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                {% include "footer.html" %}
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for user info-->
        <div class="modal fade" id="userinfoModal" tabindex="-1" role="dialog" aria-labelledby="userinfoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userinfoModalLabel">User Info</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ user.display_name }} ({{ user.emails[0] }})</p>
                        <p id="location_name"></p>
                        <p>Phone numbers:</p>
                        <table class="table" id="userInfoNumbers">
                            <thead>
                            <tr>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Extension</th>
                                <th scope="col">Location</th>
                                <th scope="col">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- body will be dynamically created by refresh_user_info() -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% include "body_js.html" %}
        <script src="static/js/portal/user_info.js"></script>
        <script src="static/js/portal/user_phones.js"></script>
        <script src="static/js/portal/user_queues.js"></script>

    {% endblock %}
    </body>


{% endblock %}
